.titulo {
    flex: 1;
    position: relative;
    width: 50%;
    height: 100%;
    background: #F7F8FA;
}

.titulo .title {
    position: absolute;
    width: 235px;
    height: 56px;
    left: 180px;
    top: 65px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

.titulo .description {
    position: absolute;
    width: 562px;
    height: 148px;
    left: 40px;
    top: 215px;
    font-family: Roboto;
    font-style: normal;
    font-weight:lighter;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.PLogin {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 700px;
    top: 1.5px;
    border-radius: 5px;
    background: #8257E5;
}

.PLogin .login_label {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 10%;
    bottom: 75.12%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
    text-align: start;
}

.PLogin .email_input {
    position: absolute;
    width: 50%;
    height: 30%;
    left: 20.54%;
    right: 17.52%;
    top: 40%;
    bottom: 57.56%;
    background: #E5E5E5;
    border: 1.5px solid #2A004B;
    box-sizing: border-box;
    border-radius: 10px;
}

.PLogin .login_input {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 20.54%;
    right: 17.52%;
    top: 50%;
    background: #E5E5E5;
    border: 1.5px solid #2A004B;
    box-sizing: border-box;
    border-radius: 10px;
}

.PLogin .pass_input {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 20.54%;
    right: 17.52%;
    top: 75%;
    background: #E5E5E5;
    border: 1.5px solid #2A004B;
    box-sizing: border-box;
    border-radius: 10px;
}

.PLogin .re_pass_input {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 20.54%;
    right: 17.52%;
    top: 60%;
    background: #E5E5E5;
    border: 1.5px solid #2A004B;
    box-sizing: border-box;
    border-radius: 10px;
}

.PLogin .continue {
    position: absolute;
    width: 380px;
    left: 22.54%;
    right: 17.52%;
    top: 75%;
    bottom: 15%;
    background: #2A004B;
    border-radius: 5px;
}

.PLogin .logar {
    position: absolute;
    left: 17.15%;
    right: 30%;
    top: 88.29%;
    bottom: 9.15%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}