@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.actualDate {
    width: 100%;
    margin: 15px 0;
    text-align: center;
    font-family: Roboto;
    font-size: 60px;
    color: #7D53D4;
}

.btn {
    margin-left: 100px;
    background: #7D53D4;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex: 1;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 300px;
    margin-top: 80px;
    font-size: 18px;
}

.grid {
    margin-top: 80px;
    max-width: 700px;
    border-radius: 5px;
}

.item {
    margin-left: 100px;
    background: #fff;
    font-size: 18px;
    border: 2px solid #7D53D4;
    border-radius: 5px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex: 1;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 5px;
}

.svgIcon {
    margin-left: auto;
    color: #4e16c0;
    align-items: center;
}

.projectsSelection {
    font-size: 16px;
    border: 2px solid #9f9ea1;
    border-radius: 5px;
    width: 100%;
    padding: 16px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px;
}