.actualDate {
    width: 100%;
    margin: 15px 0;
    text-align: center;
    font-family: Roboto;
    font-size: 60px;
    color: #7D53D4;
}

.btn {
    width: 175px;
    height: 52px;
    left: 18%;
    top: 30%;
    background: #2A004B;
    border-radius: 5px;
}