.prof {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #7D53D4;
}

.picture {
    border-radius: 50%;
}